<div class=" main-bg">
  <div class="text-center ">
    <div class="box bg-white">
      <span> <a routerLink="/home"> <i class="fas fa-arrow-left fa-3x float-left text-brand"></i></a></span>
    <i class="fab fa-angular fa-3x text-danger"></i>
    <h3>Innovative, Smart & Principled Angular Developer </h3><br>
    <p> <strong class="text-brand text-style1">Omolola Zainab Afolabi </strong>  is an asset to any employer and team characterised by excellence, great work ethics and solution-oriented. She is an innovative, smart and principled young lady that lives by fifteen powerful success growth and healthy relationship values. These values <strong class="text-brand"> CRRENDDI GERTHAS</strong> form a core basis for her decision making, people management and technical capability.</p>
    <p> <strong class="text-brand">CRRENDDI</strong>  is an acronym for "Consistency, Responsibility, Resilience, Excellence, Novelty, Discipline, Discretion, Integrity" while <strong class="text-brand"> GERTHAS</strong> stands for "Giving, Empathy, Respect, Teamework, Humility, Appreciation, Service" </p>
    <p> <strong class="text-brand text-style1">Zainab </strong>  is bilingual, she speaks English language fluently and is a top 6% learner on <i class="fab fa-earlybirds fa-2x text-green"></i> Duolingo, the world's largest language learning community where she is currently learning Norwegian, French & Arabic languages. She has an intermediate level of communication in Norwegian language, a language she has been consistently learning for a year and four months.</p>
    <p>She has experience as a Frontend Engineer in the fintech industry excellently managing the support dashboard of a rapidly growing fintech startup in Nigeria, Mikroafrica. To learn more about her total work experience, education & skill set view her <span><a routerLink="/contact"> <button class="btn-brand btn btn-lge text-light">resume </button></a> </span>  </p>

    <h3 class="text-dark text-decoration-1">Skills</h3><br>
    
    <span class="p-4"><i class="fab fa-html5 fa-3x text-orange"></i></span>
    <span class="p-4"><i class="fab fa-css3 fa-3x css-logo text-cobalt"></i></span>
    <span class="p-4"><i class="fab fa-js-square fa-3x text-blue"></i></span>
    <span class="p-4"><i class="fab fa-angular fa-3x text-danger"></i></span>
    <span class="p-4"><i class="fab fa-bootstrap fa-3x text-primary"></i></span>
    <span class="p-4"><i class="fab fa-figma fa-3x text-brand"></i></span>
    <span class="p-4"><i class="fab fa-jira fa-3x text-primary"></i></span>
    <span class="p-4"><i class="fab fa-confluence fa-3x text-primary"></i></span>
    <span class="p-4"><i class="fab fa-github fa-3x text-dark"></i></span>
    <span class="p-4"><i class="fas fa-fire fa-3x text-warning"></i></span>
  </div>
    <br><br>
   
    
  </div>

</div>
