.pt-7{
  padding-top: 7rem;
}

.text-orange{
  color: orangered;
}

.text-brand{
  color:#E30B5C;
}

.text-cobalt{
  color: #1c49cf;
}

.text-blue{
  color: blue;
}

.text-red{
  color: red;
}

.text-green{
  color: lime;
}

.text-decoration-1{
  text-decoration: underline 5px solid #E30B5C ;
}

.main-bg{
  background:linear-gradient(147.87deg, 	#DE3163 26.36%, #770737  125.59%);
  height: 720px;
}

.box{
  width: 90.0%;
  height: 680px;
  padding: 50px;
  margin: 60px;
  margin-top: 0;
  text-align: center; 
 
}

.float-left{
  float:left;

}

a:hover{
  padding:20px;
  color: #DE3163  ;
}

/* .text-style1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
} */

.btn-lge{
  width: 250px;
  height: 50px;
  background-color: #DE3163  ;
 
}

/* Smartphone Screen */
@media (min-width:320px) and (max-width:500px){
 
.main-bg{
  background:linear-gradient(147.87deg, 	#DE3163 26.36%, #770737  125.59%);
  height: 1900px;
} 
 .box{
   height: 1800px;
   width: 75%;
 }
}

/* Tablet screen */
@media 
(min-width: 501px) and (max-width: 768px) {
    .main-bg{
      background:linear-gradient(147.87deg, 	#DE3163 26.36%, #770737  125.59%);
      height: 1600px;
    } 
     .box{
       height: 1500px;
       width: 75%;
     }
}

 /*Normal*/
 @media(min-width: 769px) and (max-width: 1200px){
  .main-bg{
    background:linear-gradient(147.87deg, 	#DE3163 26.36%, #770737  125.59%);
    height: 1100px;
  }
  .box{
    height: 1000px;
    width: 85%;
  }
}

 /*Widescreen*/
 @media(min-width: 1201px){
   .main-bg{
     height: 800px;
   }

   .box{
     height: 750px;
     width: 90%;
   }
}