<div class="main-bg">
  <div class="sub-bg container ">
    <div class="container" >
      <!-- <h2 class="text-light">Portfolio  </h2> -->
      <span class="text-light font-medium"><a routerLink="/home"><i class="fas fa-arrow-left  text-light pr-1"></i></a>Portfolio</span>
      <br><br>
      <section id="features">
        <div class="box bg-light">
          <a href=""><i class="fas fa-h-square  fa-3x text-success-gradient"></i></a>
          <h3>Health Max</h3>
          <p>
       HMO: Inclusive unparalled medicare services in 3 easy steps!
          </p>
        </div>
      
        <div class="box bg-light">
          <a href="https://alphaapp-16065.firebaseapp.com/login"> <i class="fas fa-seedling fa-2x round-padding text-light"></i></a>
          <h3>Alpha App</h3>
          <p>
            Olam Foods Budget performance analysis at its best. 
          </p>
        </div>
        <div class="box bg-light">
          <a href=""><i class="fas fa-money-check-alt fa-3x text-orange"></i></a>
          <h3>Remitt*</h3>
          <p>
           Make debit card requests & receive it at your place of choice, home or office?
          </p>
        </div>
       
        <div class="box bg-light">
          <a href=""><i class="fas fa-clipboard-list fa-3x text-purple"></i></a>
          <h3>TODO!</h3>
          <p>
           Stay organized, plan your activities, get reminders & be on track!
          </p>
        </div>
        <div class="clear"></div>
      
        <div class="box bg-light">
          <a href=""><i class="fas fa-home fa-3x text-danger"></i></a>
          <h3>Jendoll</h3>
          <p>
           Have mortgage plans? purchase or rent a comfy apartment of choice.
          </p>
        </div>

        <div class="box bg-light">
          <a href=""><i class="fas fa-hotel fa-3x text-peru"></i></a>
          <h3>Kelle Hotel</h3>
          <p>
           Checking in a safe cosy hotel with healthy meals & gym facility
          </p>
        </div>
       


        <div class="clear"></div>
      </section>
     
    </div>
  </div>
</div>
