<div class="container main-bg">
  <table class="table-striped table-dark table p-5">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Service Type</th>
        <th scope="col">Service Description</th>
        <th scope="col">Service Duration</th>
        <th scope="col">Local Fee Quote(#)</th>
        <th scope="col">Int'l Fee Quote($)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Basic Plan Web Development</td>
        <td>UX Research,  1 Figma Design,  Logo, 5 Page Website, 1 Contact Form</td>
        <td>2 Weeks</td>
        <td>150,000</td>
        <td>500</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Premium Plan Web Development</td>
        <td>UX Research, 2 Figma Designs, Logo, 5 Page Website, 1 Contact Form, 2 Months Support</td>
        <td>2 Weeks & 2 Months Support</td>
        <td>220,000</td>
        <td>750</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="1">Basic Plan Web Application</td>
        <td colspan="1">A login Page, Logo, 5 Page Dashboard, 1 Figma Design</td>
        <td>8 Weeks</td>
        <td>500,000</td>
        <td>1,200</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="1">Premium Plan Web Application</td>
        <td>A login Page, Logo, 5 Page Dashboard, 2 Figma Designs, 2 Months Support </td>
        <td>8 Weeks & 2 Months Support</td>
        <td>700,000</td>
        <td>1600</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="1">E-Commerce Application</td>
        <td>E-Commerce Website, Logo, Online Payment Service</td>
        <td>8 Weeks</td>
        <td>250,000</td>
        <td>800</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="1">Total Basic Plan</td>
        <td>A 5 page Website, Logo, A Login Page, 5 Page Dashboard, 1 Figma Design</td>
        <td>10 Weeks</td>
        <td>600,000</td>
        <td>1,600</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td colspan="1">Total Premium Plan</td>
        <td>A 5 page Website, Logo, A Login Page, 5 Page Dashboard, 2 Figma Designs, 2 Months Support</td>
        <td>10 Weeks & 2 Months Support</td>
        <td>800,000</td>
        <td>2100</td>
      </tr>
    </tbody>
  </table>
</div>
