<div class="main-bg">
  <div class="sub-bg  container">
    <div class="container" >
      <!-- <h2>Frontend Development Blog</h2> -->
      <div class="text-dark font-medium pb-1"><a routerLink="/home"><i class="fas fa-arrow-left text-dark pr-1 pb-1"></i></a>Frontend Development Blog</div><br>
      <span> <a routerLink=""><button class="btn-brand btn">Learn more</button></a> </span><br><br>
      <section id="features">
        <div class="box bg-light">
          <i class="fab fa-angular fa-3x text-danger"></i>
          <h3>Angular</h3>
          <p>
           New to Angular? Checkout installation, forms, binding & more...
          </p>
        </div>
        <div class="box bg-light">
          <i class="fab fa-github fa-3x text-primary"></i>
          <h3>Github</h3>
          <p>
            Git commands, repository creation and exciting git collaboration nuggets...
          </p>
        </div>
        <div class="box bg-light">
          <i class="fas fa-fire fa-3x text-warning"></i>
          <h3>Firebase</h3>
          <p>
           create projects, data storage, deploy and many more features. 
          </p>
        </div>
        
        <div class="box bg-light">
          <i class="fas fa-chart-line fa-3x font-brand"></i>
          <h3>Dashboards</h3>
          <p>
           Make sense out of raw data, create charts easily!
          </p>
        </div>
      
        <div class="box bg-light">
          <i class="fab fa-css3 fa-3x css-logo"></i>
          <h3>CSS</h3>
          <p>
           Useful tips on web designs with css & bootstrap, wow your clients!!
          </p>
        </div>
        <div class="box bg-light">
          <i class="fas fa-server fa-3x text-success"></i>
          <h3>API Calls</h3>
          <p>
          Upgrade from creating static websites to getting & sending data to & from the backend.
          </p>
        </div>
        <div class="clear"></div>
      </section>
     
    </div>
  </div>
</div>
